/*
** header
*/

.header {
    background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    padding: 100px 0; //высота шапки
    text-align: center;
    background-size: cover;
}