/*
** section-3
*/

.section-3 {
    background: #EAEAEA;
    padding: 75px 0 0;    
    &_item {
        margin-bottom: 40px;        
        &__img {
            width: 100%;
            text-align: center;    
            margin: 0 auto 10px;
        }
        &__text {
            font-size: 14px;
            line-height: 18px;            
        }        
    }
}