/*
** section-4
*/

.section-4 {
    padding: 25px 0 0;
    &_item {
        background: #EAEAEA;
        padding: 10px 15px;
        margin-bottom: 40px;
        &__img {
            width: 100%;
            text-align: center;    
            margin: 0 auto 10px;
        }
        &__text {
            font-size: 14px;
            line-height: 18px;            
        } 
    }
}